<% provide :title, 'New User' %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-xs-offset-3">
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
   <%= f.label :name %>
   <%= f.text_field :name, class: "form-control" %>

   <%= f.label :email %>
   <%= f.text_field :email, class: "form-control" %>

   <%= f.label :roll %>
   <%= f.text_field :roll, class: "form-control" %>

   <%= f.submit "Register User", class: "btn btn-primary" %>

<% end %>
 </div>
</div>
