<% provide :title, 'New Company' %>
<h1>Register Company</h1>
<div class="row">
  <div class="col-md-6 col-xs-offset-3">
<%= form_for(@company) do |f| %>
  <%= render 'shared/error_messages_company' %>
   <%= f.label :name %>
   <%= f.text_field :name, class: "form-control" %>

   <%= f.label :package %>
   <%= f.text_field :package, class: "form-control" %>

   <%= f.label :last_date, "Last Date to Apply" %>
   <%= f.date_field :last_date, class: "form-control" %>

   <%= f.label :exam_date %>
   <%= f.date_field :exam_date, class: "form-control" %>

   <% Branch.all.each do |branch| %>
    <label>
       <%= check_box_tag "company[branch_ids][]", branch.id, f.object.branches.include?(branch) %>
       <%= branch.name %>
    </label>
 <% end %>

   <%= f.submit "Register Company", class: "btn btn-primary" %>

<% end %>
 </div>
</div>
